<?xml version="1.0" encoding="UTF-8"?>

<jira-database-config>
  <name>defaultDS</name>
  <delegator-name>default</delegator-name>
  <database-type>postgres72</database-type>
  <schema-name>public</schema-name>
  <jdbc-datasource>
{# #}
{# Check and select for remote database configuration #}
{% if database_server and database_port %}
    <url>jdbc:postgresql://{{ database_server }}:{{ database_port }}/{{ database_name }}</url>
{% elif database_port %}
    <url>jdbc:postgresql://localhost:{{ database_port }}/{{ database_name }}</url>
{% else %}
    <url>jdbc:postgresql:{{ database_name }}</url>
{% endif %}
    <driver-class>org.postgresql.Driver</driver-class>
{# #}
{# Database user credentials #}
    <username>{{ database_user }}</username>
    <password>{{ database_password | default('') }}</password>
    <pool-min-size>20</pool-min-size>
    <pool-max-size>20</pool-max-size>
    <pool-max-wait>30000</pool-max-wait>
    <validation-query>select 1</validation-query>
    <min-evictable-idle-time-millis>60000</min-evictable-idle-time-millis>
    <time-between-eviction-runs-millis>300000</time-between-eviction-runs-millis>
    <pool-max-idle>20</pool-max-idle>
    <pool-remove-abandoned>true</pool-remove-abandoned>
    <pool-remove-abandoned-timeout>300</pool-remove-abandoned-timeout>
    <pool-test-on-borrow>false</pool-test-on-borrow>
    <pool-test-while-idle>true</pool-test-while-idle>
  </jdbc-datasource>
</jira-database-config>
