#install4j response file for JIRA Software 7.3.1
launch.application$Boolean=false
app.jiraHome={{ installation_datadir }}
app.install.service$Boolean=true
sys.languageId={{ installation_language }}
sys.installationDir={{ installation_dir }}
executeLauncherAction$Boolean=true
rmiPort$Long={{ installation_rmiport }}
httpPort$Long={{ installation_httpport }}
portChoice=custom
##### Commented out if it not updates existing JIRA
# existingInstallationDir={{ installation_existingdir }}
# sys.confirmedUpdateInstallationString=true
# backupJira$Boolean=true
